@model AppSaresp_2024.Models.ProfessorAplicador

@{
    ViewData["Title"] = "DetalhesProfessorAplicador";
}

<h1>Detalhes Professor Aplicador</h1>

<div>
    <h4>Professor Aplicador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idProfessor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idProfessor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dataNasc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dataNasc)
        </dd>
    </dl>
</div>
<br />
<button type="button" class="btn btn-primary botaoeditar">
    @Html.ActionLink("Editar", "AtualizarProfessorAplicador", new { id = Model.idProfessor })
</button>
<button type="button" class="btn btn-primary botaoeditar">
    @Html.ActionLink("Voltar", "Index")
</button>
</div>

